.lil-gallery {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin: auto;
  justify-items: center;
}

.lil-gallery img {
  display: block;
  width: 77px;
  height: 103px;
  object-fit: cover;
}

.trash-icon-container {
  background-color: black;
  position: relative;
  bottom: 97px;
  left: 55px;
  width: 17px;
  height: 17px;
  border-radius: 5px;
}

.fa-trash-can {
  cursor: pointer;
  color: white;
  font-size: 9px;
  padding: 1px;
}